/* =============================================================================
Image Zoom JS v0.0.1 | MIT License | https://github.com/alecrios/image-zoom-js
============================================================================= */

[data-zoom-backdrop] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	transition: opacity 400ms ease;
	pointer-events: none;
	z-index: 99;
}
[data-zoom-backdrop='active'] {
	opacity: 1;
	pointer-events: auto;
}

[data-zoom-image] {
	position: relative;
	transform: none;
	cursor: zoom-in;
	transition: transform 200ms ease;
	-webkit-transition: transform 200ms ease;
	-moz-transition: transform 200ms ease;
	-ms-transition: transform 200ms ease;
	-o-transition: transform 200ms ease;
}

[data-zoom-image='active'] {
	cursor: zoom-out;
	border-radius: 0px !important;
	border: none !important;
	z-index: 999 !important;
}